<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixIDE</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>#DropOEM_DSM</key>
			<dict>
				<key>USB</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>ATI</key>
				<true/>
				<key>HDMI</key>
				<true/>
				<key>LAN</key>
				<true/>
				<key>IntelGFX</key>
				<true/>
				<key>WIFI</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>Firewire</key>
				<true/>
				<key>IDE</key>
				<true/>
				<key>NVidia</key>
				<true/>
				<key>HDA</key>
				<true/>
				<key>SATA</key>
				<true/>
			</dict>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>HaltEnabler</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>DefaultVolume</key>
		<string></string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>tonymacx86</string>
		<key>Mouse</key>
		<dict>
			<key>Speed</key>
			<integer>8</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<string>First</string>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>IMEI</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x12345678</string>
			<key>XHCI</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>1</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPD4MDBQAA</data>
				<key>Comment</key>
				<string>Remove USB port limit in XHCI kext</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<false/>
		<key>ProductName</key>
		<string>iMac17,1</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>